$white: #fff;
$themeColor: #008ba4;
$yello: #ffb03a;
$textColor: #717171;
$headinColor: #383f51;
$iconColor: #008ba4;
$activeTabTextColor: #035d71;
$linkColor: #035d71;
$boxShadow: 0px 15px 99px #d3dfe1;
$red: #ef332e;
$bgLightBlue: #f6f7fb;
$bgtransparent: #f0f2f5;
$borderRadius: 8px;
$borderColorDark: #707070;
$borderColorLight: #c3c3c7;
$darkGreen: #045d71;
$bgMenuhover: #f7fbfc;
$menuHoverTextColor: #1190a8;
$lightGray:#EDEFF3

