@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
$fontFamily: 'Lato', sans-serif;
$fontSizeForHeading: 40px; //for main headings
$fontSizeForSubHeading: 20px; // for sub headings
$fontSizeForText: 16px; //Paragraphs, Button Text, Forms label, Forms placeholder, text input
$fontWeightForHeading: 900;
$fontWeightForSubHeading: 700;
$fontWeightForText: 400;
