@import "../../../../theme/colors/index.scss";
@import "../../../../theme/fonts/index.scss";

.test-field-title {
  font-size: $fontSizeForText;
  color: $textColor;
  font-family: $fontFamily;

  cursor: pointer;
}

.location-sidebar {
  background-color: $bgtransparent;
}
.test-title-modal {
  // border: 1px solid $themeColor !important;
  &:hover {
    background-color: $bgMenuhover;
    color: $themeColor;
  }
}

.step-form-layout {
  width: 83% !important;
}
@media (min-width: 670px) {
  .location-sidebar {
    width: 12% !important;
  }
}
@media (max-width: 670px) {
  .location-sidebar {
    width: 80% !important;
    margin-left: 30px !important;
  }
}

@media (min-width: 1600px) {
  .step-form-layout {
    margin-left: 16rem !important;
    margin: o auto !important;
    // border: 2px solid blue;
  }
}
